.header {
  background-color: #21252B;
  border-bottom: 1px solid BLACK;
  width:100%;
  height: 60px;
  margin: 0;
}
.sortFunctionButton{
  margin-right: 10px;
  color: #F80A94;
  font-size: 24;
  font-family: alienEncounter;
}
.sortFunctionButton:hover{
  color: #67C8FF;
  cursor: pointer;
}
.sortButtonActive{
  color: #67C8FF;
}
.sortFunctionButtons{
  float: right;
  width: calc(100% - 240px);
  height: 40px !important;
  padding: 15px;
  overflow: hidden;
  white-space:nowrap;
}
.songName{
  color: WHITE;
}
.songName:hover{
  background-color: #67C8FF;
  color: WHITE;
  cursor: pointer;
}
.activeSong{
  background-color: #67C8FF;
}

.logo{
  max-height: 59px;
}
.footerButton {
  margin-top: 10px;
  background-color: #F80A94;
  border-color: #2e6da4;
  color: WHITE;
}
.controls{
  margin-right: auto;
  margin-left: auto;
  width:75%;
}
.footer {
  background-color: #21252B;
  border-top: 1px solid BLACK;
  width:100%;
  min-height: 60px;
  margin: 0;
  position: fixed;
  bottom: 0px;
  white-space:nowrap;
}
.mainArea {
  background-color: #282C34;
  margin: 0;
  width:100%;
  height: calc(100% - 120px)
}
.algStep {
  color: #F80A94;
  font-size: 16px;
  font-family: bit;
}
.mainAlgStep{
  color: #67C8FF;
  font-size: 16px;
  font-family: bit;
}
@font-face {
    font-family: alienEncounter;
    src: url(../misc/Alien-Encounters-Regular.ttf);
}
@font-face {
    font-family: bit;
    src: url(../misc/bit.ttf);
}
